
<textarea></textarea>
<h1>Welcome To The Rails Installer Demo</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


source "http://rubygems.org"
gem "nokogiri"
gem "rack", "~>1.1"
gem "rspec", :require => "spec"